body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", Calibri, sans-serif;
}
.jumbotron {
  background-color: #FEEFB3;
}
.jumbotron h1 {
  margin-top: 0;
}
.jumbotron li {
  line-height: 1.5;
  margin-top: 1em;
}
.page-header, .page-header h1 {
  margin-top: 0;
}
h1 small {
  color: #333;
}
code {
  background-color: transparent;
  border-style: none;
  padding: 0;
}
code, pre {
  font-family: Menlo, Consolas, monospace;
}
