<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <base data-href="baseURL">
  <link rel="stylesheet" href="static/styles/petclinic.css" type="text/css">
  <title>PetClinic :: a Spring Framework demonstration</title>	
</head>
<body>
  <div id="main">
    <div data-text="body" data-escape-xml="false">
    </div>

    <table class="footer">
      <tr>
        <td><a data-href="baseURL">Home</a></td>
        <td align="right"><img src="static/images/springsource-logo.png" alt="Sponsored by SpringSource"/></td>
      </tr>
    </table>
  </div>
</body>
</html>
