<html xmlns:v="http://pukkaone.github.com/mullet/1">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <base v:href="baseURL">
  <link rel="stylesheet" href="static/styles/petclinic.css" type="text/css">
  <title>PetClinic :: a Spring Framework demonstration</title>	
</head>
<body>
  <div id="main">
    <div v:text="body" v:escape-xml="false">
    </div>

    <p>&nbsp;</p>
    <p>&nbsp;</p>

    <table class="footer">
      <tr>
        <td><a v:href="baseURL">Home</a></td>
        <td align="right"><img src="static/images/springsource-logo.png" alt="Sponsored by SpringSource"/></td>
      </tr>
    </table>
  </div>
</body>
</html>
