<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <base data-href="contextPathURL">
  <link rel="stylesheet" href="static/styles/petclinic.css" type="text/css">
  <title>PetClinic :: a Spring Framework demonstration</title>	
</head>
<body>
  <div id="main">
    <div data-text="body" data-escape-xml="false">
    </div>

    <table class="footer">
      <tr>
        <td><a data-href="contextPathURL">Home</a></td>
        <td align="right"><img src="static/images/springsource-logo.png" alt="Sponsored by SpringSource"/></td>
      </tr>
    </table>
  </div>
</body>
</html>
