<body xmlns:v="http://pukkaone.github.com/mullet/1">
  <h2>Owners:</h2>

  <table>
    <thead>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Telephone</th>
      <th>Pets</th>
    </thead>
    <tr v:for="selections">
      <td>
        <a v:href="showUrl"><span v:text="firstName"></span> <span v:text="lastName"></span></a>
      </td>
      <td v:text="address"></td>
      <td v:text="city"></td>
      <td v:text="telephone"></td>
      <td>
        <span v:for="pets">
          <span v:text="name"></span>&nbsp;
        </span>
      </td>
    </tr>
  </table>
</body>
