<body>
  <div data-for="owner">
    <h2>Owner Information</h2>
    <table>
      <tr>
        <th>Name</th>
        <td><span data-text="firstName"></span> <span data-text="lastName"></span></td>
      </tr>
      <tr>
        <th>Address</th>
        <td data-text="address"></td>
      </tr>
      <tr>
        <th>City</th>
        <td data-text="city"></td>
      </tr>
      <tr>
        <th>Telephone</th>
        <td data-text="telephone"></td>
      </tr>
    </table>

    <table class="table-buttons">
      <tr>
        <td colspan="2" align="center">
          <a data-href="editUrl">Edit Owner</a>
        </td>
        <td>
          <a data-href="addPetUrl">Add New Pet</a>
        </td>
      </tr>
    </table>

    <h2>Pets and Visits</h2>

    <div data-for="pets">
      <table width="100%">
        <tr>
          <td valign="top">
            <table>
              <tr>
                <th>Name</th>
                <td data-text="name"></td>
              </tr>
              <tr>
                <th>Birth Date</th>
                <td data-text-message="date,birthDate"></td>
              </tr>
              <tr>
                <th>Type</th>
                <td data-text="type"></td>
              </tr>
            </table>
          </td>
          <td valign="top">
            <table>
              <thead>
                <th>Visit Date</th>
                <th>Description</th>
              </thead>
              <tr data-for="visits">
                <td data-text-message="date,date"></td>
                <td data-text="description"></td>
              </tr>
              <tr data-unless="visits">
                <td colspan="2">No visits</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="table-buttons">
        <tr>
          <td><a data-href="editUrl">Edit Pet</a></td>
          <td></td>
          <td><a data-href="addVisitUrl">Add Visit</a></td>
          <td></td>
          <td><a data-href="feedUrl" rel="alternate" type="application/atom+xml">Atom Feed</a></td>
        </tr>
      </table>
    </div>
    <div data-unless="pets">
      No pets
    </div>
  
  </div>
</body>
