<body xmlns:v="http://pukkaone.github.com/mullet/1">
  <div v:for="owner">
    <h2>Owner Information</h2>
    <table>
      <tr>
        <th>Name</th>
        <td><span v:text="firstName"></span> <span v:text="lastName"></span></td>
      </tr>
      <tr>
        <th>Address</th>
        <td v:text="address"></td>
      </tr>
      <tr>
        <th>City</th>
        <td v:text="city"></td>
      </tr>
      <tr>
        <th>Telephone</th>
        <td v:text="telephone"></td>
      </tr>
    </table>

    <table class="table-buttons">
      <tr>
        <td colspan="2" align="center">
          <a v:href="editUrl">Edit Owner</a>
        </td>
        <td>
          <a v:href="addPetUrl">Add New Pet</a>
        </td>
      </tr>
    </table>

    <h2>Pets and Visits</h2>

    <div v:for="pets">
      <table width="100%">
        <tr>
          <td valign="top">
            <table>
              <tr>
                <th>Name</th>
                <td v:text="name"></td>
              </tr>
              <tr>
                <th>Birth Date</th>
                <td v:text-message="date,birthDate"></td>
              </tr>
              <tr>
                <th>Type</th>
                <td v:text="type"></td>
              </tr>
            </table>
          </td>
          <td valign="top">
            <table>
              <thead>
                <th>Visit Date</th>
                <th>Description</th>
              </thead>
              <tr v:for="visits">
                <td v:text-message="date,date"></td>
                <td v:text="description"></td>
              </tr>
              <tr v:unless="visits">
                <td colspan="2">No visits</td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
      <table class="table-buttons">
        <tr>
          <td>
            <spring:url value="{ownerId}/pets/{petId}/edit" var="petUrl">
              <spring:param name="ownerId" value="${owner.id}"/>
              <spring:param name="petId" value="${pet.id}"/>
            </spring:url>
            <a href="${fn:escapeXml(petUrl)}">Edit Pet</a>
          </td>
          <td></td>
          <td>
            <spring:url value="{ownerId}/pets/{petId}/visits/new" var="visitUrl">
              <spring:param name="ownerId" value="${owner.id}"/>
              <spring:param name="petId" value="${pet.id}"/>
            </spring:url>
            <a href="${fn:escapeXml(visitUrl)}">Add Visit</a>
          </td>
          <td></td>
          <td>
            <spring:url value="{ownerId}/pets/{petId}/visits.atom" var="feedUrl">
              <spring:param name="ownerId" value="${owner.id}"/>
              <spring:param name="petId" value="${pet.id}"/>
            </spring:url>
            <a href="${fn:escapeXml(feedUrl)}" rel="alternate" type="application/atom+xml">Atom Feed</a>
          </td>
        </tr>
      </table>
    </div>
    <div v:unless="pets">
      No pets
    </div>
  
  </div>
</body>
