  </head>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }} - {{ page.title }}</title>

  <link rel="shortcut icon" href="/favicon.ico">

  <!-- Bootstrap core -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="css/bootstrap-theme.min.css" rel="stylesheet">
  <!-- custom styles -->
  <link href="css/site.css" rel="stylesheet">

  <!-- syntax highlighting -->
  <link rel="stylesheet" href="css/prettify.css" type="text/css">

  <!-- Google Analytics -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-7747045-3']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <div class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/mullet/">Mullet</a>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row row-offcanvas row-offcanvas-right">
      <div class="col-md-9">
        <div class="content">
          {{ content }}
        </div>
      </div>
      <div class="col-md-3 sidebar-offcanvas">
        <div class="sidebar-nav well">
          <ul class="nav">
            <li><h5>Documentation</h5></li>
            <li><a href="commands.html">Command Reference</a></li>
            <li><a href="java.html">Java Guide</a></li>
            <li><a href="ruby.html">Ruby Guide</a></li>
            <li><h5>Project</h5></li>
            <li><a href="https://github.com/pukkaone/mullet/issues">Issue Tracker</a></li>
            <li><a href="https://github.com/pukkaone/mullet">Source Code</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Get JavaScript at the end of the document so the page loads faster. -->
  <script type="text/javascript" src="js/prettify.js"></script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

  <script type="text/javascript">
    $(function() {
      var haveCode = false;

      $("pre > code").parent().each(function() {
        if (!$(this).hasClass("prettyprint")) {
          $(this).addClass("prettyprint");
          haveCode = true;
        }
      });

      if (haveCode) {
        prettyPrint();
      }
    });
  </script>
</body>
</html>
