<body>
  <h2>Owners:</h2>

  <table>
    <thead>
      <th>Name</th>
      <th>Address</th>
      <th>City</th>
      <th>Telephone</th>
      <th>Pets</th>
    </thead>
    <tr data-for="owners">
      <td>
        <a data-href="showUrl"><span data-text="firstName"></span> <span data-text="lastName"></span></a>
      </td>
      <td data-text="address"></td>
      <td data-text="city"></td>
      <td data-text="telephone"></td>
      <td>
        <span data-for="pets">
          <span data-text="name"></span>&nbsp;
        </span>
      </td>
    </tr>
  </table>
</body>
